%p
    %table
        %tr
            %th &nbsp;
            %th Company Website Name
            %th URL
        - for website in @websites
            %tr
                %td= h website.websiteno
                %td=link_to website.description, website
                %td=link_to 'Link', website.url