= @website.description
%p
    = @website.url
- deposits = @website.deposits
- unless deposits.length == 0
    - deposits.each do |deposit|
        %p
            = link_to deposit.entityid, deposit
%p