.bundle
db/*.sqlite3
log/*
tmp/**/*
config/database.yml
config/ldap_root_user.yml
config/rhubarb_dev.yml
config/rhubarb_prod.yml
ldap.yml
config/ldap.yml
lib/init_ga.rb
README.old
/nbproject/private/
/node_modules
