%script{:type=>"text/javascript",:src=>"http://maps.googleapis.com/maps/api/js?key=AIzaSyB_xu5kdq5JMKUWzG921BRVW5iBj4PINOI&sensor=true"}
%script{:type=>"text/javascript",:src=>"http://openlayers.org/api/2.10/OpenLayers.js"}