- states = [["Australia" , "All"],["Australian Capital Territory","ACT"],["New South Wales","NSW"],["Northern Territory","NT"],["Queensland","QLD"],["South Australia","SA"],["Tasmania","TAS"],["Victoria","VIC"],["Western Australia","WA"]]
- status = [["All","All"],["Operating Mines","operating mine"],["Historic Mines","historic mine"],["Mineral Deposits","mineral deposit"]]
-  years=(2000..Date.today.year).to_a
%h2 Query
%p
    - form_tag url_for(params), :method => :get do
        %table
            %tr
                %td State:
                %td= select_tag "state", options_for_select(states, params[:state])
            %tr
                %td Year:
                %td= select_tag "year", options_for_select(years, params[:year])
        - if params[:action] =="resources"
            =render :partial => "resources"
        =submit_tag "Search", :name=>nil