%p
  %table
    %tr
      %td RESOURCENO
      %td ENO
      %td ZONE NAME
      %td DEPOSIT NAME
    -@resources.each do |resource|
      %tr
        %td
          =resource.resourceno
        %td
          =resource.eno
        %td
          -zone = resource.zone
          =zone.entityid
        %td
          -deposit =zone.deposit
          =deposit.entityid
=will_paginate(@resources)  
