- if  params[:action]=="index"
    %b Index
- else
    = link_to "Index", url_for(params.merge(:action => :index))
|
- if params[:action]=="map"
    %b Map
- else
    = link_to "Map", url_for(params.merge(:action => :map))