%h2.deposits-header=header_generator
-#TODO: Chuck this in a helper
#qa.quality-container
  #qa-icon.qual-icon
  #qaed.quality-block.good-quality
    -# TODO Call this spit_quality_block(number,text,params_hash) in the deposits helper11
    .qual-num
      =link_to @qaed, url_for(params.merge(:qa_status_code=>'C'))
    .qual-caption
      have been QAed
    .qual-deposits-link
      =link_to "Click here to show list of these deposits", url_for(params.merge(:qa_status_code=>'C',:action=>:index))
  #notqaed.quality-block.bad-quality
    .qual-num
      =link_to @not_qaed, url_for(params.merge(:qa_status_code=>'U'))
    .qual-caption
      have not been QAed
    .qual-deposits-link
      =link_to "Click here to show list of these deposits", url_for(params.merge(:qa_status_code=>'U',:action=>:index))
#coordinates.quality-container
  #coords-icon.qual-icon
    =image_tag('coords.png', :height=>32, :width=>32)
  #coords.quality-block.good-quality
    .qual-num
      =link_to @geometry, url_for(params.merge(:coordinates=>'Y'))
    .qual-caption
      have spatial coordinates 
    .qual-deposits-link
      =link_to "Click here to show list of these deposits", url_for(params.merge(:coordinates=>'Y',:action=>:index))
  #no_coods.quality-block.bad-quality
    .qual-num
      =link_to @no_geometry, url_for(params.merge(:coordinates=>'N'))
    .qual-caption
      have no spatial coordinates
    .qual-deposits-link
      =link_to "Click here to show list of these deposits", url_for(params.merge(:coordinates=>'N',:action=>:index))
#provinces.quality-container
  #provs-icon.qual-icon
  #has_provinces.quality-block.good-quality
    .qual-num
      =link_to @has_provinces, url_for(params.merge(:provinces=>'Y'))
    .qual-caption
      have associated provinces
    .qual-deposits-link
      =link_to "Click here to show list of these deposits", url_for(params.merge(:provinces=>'Y',:action=>:index))
  #no_provinces.quality-block.bad-quality
    .qual-num
      =link_to @no_provinces, url_for(params.merge(:provinces=>'N'))
    .qual-caption
      have no associated provinces
    .qual-deposits-link
      =link_to "Click here to show list of these deposits", url_for(params.merge(:provinces=>'N',:action=>:index))
#websites.quality-container
  #websites-icon.qual-icon
  #has_websites.quality-block.good-quality
    .qual-num
      =link_to @has_websites, url_for(params.merge(:websites=>'Y'))
    .qual-caption
      have company websites 
    .qual-deposits-link
      =link_to "Click here to show list of these deposits", url_for(params.merge(:websites=>'Y',:action=>:index))
  #no_websites.quality-block.bad-quality
    .qual-num
      =link_to @no_websites, url_for(params.merge(:websites=>'N'))
    .qual-caption
      have no company websites 
    .qual-deposits-link
      =link_to "Click here to show list of these deposits", url_for(params.merge(:websites=>'N',:action=>:index))
- content_for(:sidebar) do
  %p= render :partial => "deposits/query"
- content_for(:controller_nav) do
  %p= render :partial => "deposits/links"
- content_for(:sidebar_download) do
  %p= render :partial => "deposits/format"
- content_for(:title_bar) do
  ==Deposits: QA
  - unless params[:commodity].blank?
    == - #{params[:commodity].titleize}
