- states = [["Australia" , "All"],["Australian Capital Territory","ACT"],["New South Wales","NSW"],["Northern Territory","NT"],["Queensland","QLD"],["South Australia","SA"],["Tasmania","TAS"],["Victoria","VIC"],["Western Australia","WA"]]

%h2 Query
%p
    = form_tag url_for(params), :method => :get do
        %table
            %tr
                %td Name:
                %td= text_field_tag "name", params[:name]
            %tr
                %td State:
                %td= select_tag "state", options_for_select(states, params[:state])
            %tr
                %td Commodity:
                %td= select_tag "commodity", options_for_select(CommodityType.all_commodities.sort, params[:commodity])
        =submit_tag "Search", :name=>nil