- states = [["Australia" , "All"],["Australian Capital Territory","ACT"],["New South Wales","NSW"],["Northern Territory","NT"],["Queensland","QLD"],["South Australia","SA"],["Tasmania","TAS"],["Victoria","VIC"],["Western Australia","WA"]]

%h2 Query
%p
    = form_tag url_for(params), :method => :get do
        %table
            %tr
                %td Name:
                %td= text_field_tag "name", params[:name]
            %tr
                %td State:
                %td= text_field_tag :state, '', 'data-pre' => (State.find_as_keys(@state).to_json unless @state.nil?)
            %tr
                %td Commodity:
                %td= text_field_tag :commodity, '', 'data-pre' =>  (CommodityType.find_as_keys(@commodity).to_json unless @commodity.nil?)
        =submit_tag "Search", :name=>nil